.btn {
    padding: 15px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--fonte-principal);
    transition: 0.3s;
}

.btn-primary {
    background-color: var(--azul);
    color: var(--branco);
}

.btn-secondary {
    border: solid 2px #DDD;
    background-color: var(--branco);
    color: var(--azul);
}

.btn:hover{
    padding: 15px 60px;
}

.btn-primary:hover {
    background-color: var(--azul-hovered)
}

.btn-secondary:hover {
    background-color: var(--branco-hovered);
}
