.header-container{
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content-container{
    width: 95%;
    display: flex;
}

.logo-name, .menu{
    display: flex;
    flex: 1;
}

.name{
    font-size: 22px;
}

.name, .menu{
    display: flex;
    align-items: center;
}

.header-container li{
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
}

.header-container li a{
    text-decoration: none;
    color: inherit;
}

.header-container a{
    padding: 20px;
    border-radius: 15px;
    color: inherit;
}

.header-container li:hover{
    cursor: pointer;
    background-color: var(--azul);
    color: white;
}

.header-container li:hover a{
    color: white;
}