.header-container{
    width: 100%;
    background-color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content-container{
    width: 95%;
    display: flex;
}

.logo-name, .menu{
    display: flex;
    flex: 1;
}

.name{
    font-size: 24px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: right;
}

ul{
    font-family: var(--fonte-principal);
    list-style-type: none;
    padding: 0;
}