.home-container{
    background-color: var(--cinzinha);
    display: flex;
    border: solid 1px #CCC;
    padding: 20px;
}
.disponivel{
    width: fit-content;
    padding: 0px 15px;
    border-radius: 20px;
    background-color: var(--azul-claro);
}

.disponivel p{
    font-size: 12px;
    font-family: var(--fonte-principal);
    font-weight: 300;
    color: var(--azul);
}

h1{
    font-family: var(--fonte-principal);
    font-size: 62px;
}

p{
    font-family: var(--fonte-destaque);
    font-weight: 300;
}

.button-group{
    display: flex;
    gap: 20px;
}

.txt-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.img-container img{
    width: 70vh;
    height: auto;
}