.home-container{
    background-color: var(--cinzinha);
    display: flex;
    border: solid 1px #CCC;
    padding: 20px;
    height: 90vh;
}

@media (max-width: 768px){
    .home-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .img-container{
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .img-container img {
        display: none;
    }
    .btn.btn-primary, .btn.btn-secondary{
       width: fit-content; 
       height: fit-content;
       font-size: 12px;
       padding: 12px;
    }
}


.disponivel{
    width: fit-content;
    padding: 0px 15px;
    border-radius: 20px;
    background-color: var(--azul-claro);
}

.disponivel p{
    font-size: 12px;
    font-family: var(--fonte-principal);
    font-weight: 300;
    color: var(--azul);
}

h1{
    font-family: var(--fonte-principal);
    font-size: clamp(52px, 8vw, 72px);
    margin: 8px 0px;
    width: 80%;
}

p{
    font-family: var(--fonte-destaque);
    font-weight: 300;
}

.paragraph-description{
    width: 80%;
}

.button-group{
    display: flex;
    gap: 20px;
}

.txt-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    max-width: 500px;
}

.img-container img{
    width: 100%;
    height: auto;
}