.stacks-container{
    display: flex;
    flex-direction: column;
    background-image: url('/bg.png');
    align-items: center;
    justify-content: center;
    min-height: auto;
    padding-bottom: 40px;
}

.group-all-stacks{
    display: flex;
    gap: 60px;
}

.group-stacks{
    display: flex;
    flex-direction: column;
}

.group-stack-element{
    display: flex;
    gap: 10px;
    align-items: center;

}

.group-stack-element img{
    width: 3rem;
}

.group-stack-element h1{
    font-size: 32px;
    color: white;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: rgb(0, 44, 137);
    border-radius: 12px;
    margin: 20px;
}

.title-stack{
    color: white;
    font-size: 40px;
}

.logo-js-icon:hover{
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.775);
    transform: scale(1.1);
    transition: 0.6s;
}

.logo-java-icon:hover{
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.775);
    transform: scale(1.1);
    transition: 0.6s;
}
.logo-js-icon, .logo-java-icon{
    transition: 0.6s;
}