.work-container{
    background-color: var(--cinzinha);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid 1px #CCC;
    padding: 20px;
}

.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.work-container h1{
    text-align: center;
}

.card-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.card-work{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px;
    border-radius: 20px;
    transition: 0.6s;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 550px;
    overflow: hidden;
}
.card-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-text{
    background-color: #dadada;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.card-text h3{
    font-size: 20px;
}

.card-work:hover{
    transform: translateY(-20px);
    cursor: pointer;
}

.azul, .verde{
    color: white;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 0px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.azul{
    background: linear-gradient(180deg, var(--azul), var(--azul-escuro));
}

.verde{
    background: linear-gradient(180deg, var(--verde), var(--verde-escuro));
}