@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
}

html, body, :root {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --azul: #456df3;
  background-image: url("/bg.png");
  font-size: 16px;
}

@media (max-width: 768px) {
  :root {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 13px;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}